.App {
  min-height: 100vh;
  background-image: url(./images/food-on-white-background-256318.jpg);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #f0f1f6
}
.header-title {
  font-size: 3.8rem;
  color: rgb(48, 48, 48);
  text-align: center;
  padding: 4.5rem 0 2rem 0;
  font-family: 'Pacifico', cursive;
}

h3 {
  text-align: center;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  }

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-button {
  background: rgb(32, 143, 248);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.checked {
  color: orange;
}



