.App {
  text-align: center;
}

.app {
  background-color: rgb(88, 171, 226);
  display: flex;
  justify-content: space-around;
}

.tweet {
  margin: 2rem auto;
  border-radius: 20px;
  height: 250px;
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


